{% extends 'lectures/base.html' %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
    <div class="main">
        <div class="cardNote">
        <div class="container">
        <h2>Math 137 - Sec 003 (Lecture #10)</h2>
            
             <div class="cardInnerNote">
            <div class="container">
            
        <form method='post' enctype='multipart/form-data'>
            {% csrf_token %}
            <table>
                <tr>
                    <td class="uploadLabel">
                        <p>Title</p>
                    </td>
                    <td>{{form.name}}</td>
                </tr>
                <tr>
                    <td class="uploadLabel">Description</td>
                    <td>{{form.description}}</td>
                </tr>
                <tr class="placeholder" height="19px"></tr>
                <tr>
                    <td class="uploadLabel">Format</td>
                    <td>{{form.format}}</td>
                </tr>
                <tr class="placeholder" height="17px"></tr>
                <tr>
                    <td class="uploadLabel">Add File</td>
                    <td>{{form.pdf}}</td>
                </tr>
            </table>
        <br>
        <button class="button" type="submit">Post</button>
        </form>   
                 </div></div></div></div>

    </div>
{% endblock %}  
